# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.spec

# Entorno virtual
venv/
env/
.venv/

# Variables de entorno (¡MUY IMPORTANTE! No subir claves)
.env

# Base de datos local
instance/
*.db
*.sqlite3

# Instaladores
*.exe

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
